doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title!= title
    link(href='/static/css/main.css',rel='stylesheet')
  body
    h1!= message
    div#Container
      div#Map
    script.
        var articles = !{articles};
    script(src='/static/js/creports.js')
