doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Conflicting Reports
        link(href='/static/css/main.css', rel='stylesheet')
    body
        div#Container
            h1
                a(href="http://conflictingreports.co.uk") Conflicting Reports v#{ version }
            div.region-map
            div.region-controls
            div.region-articles
        include ./templates/article.jade
        include ./templates/articles.jade
        include ./templates/map.jade
        include ./templates/controls.jade
        script.
            var articles = !{articles};
        script(src='/static/js/creports.js')
