$green: #008000; // Green
// $green: #32CD32; // LimeGreen
// $green: #00FF7F; // SpringGreen
$black: #000000; // Black
$delay: 400ms;

@font-face{
    font-family: "Visitor TT1 BRK";
    src: url('../fonts/visitor1.ttf')
}

html {
    background: $black;
    font-family: 'Visitor TT1 BRK', 'Courier New', Courier, monospace;
    color: $green;
}

h1, h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 1em;
    background: $black;
    color: $green;
}

h1 {
    padding: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 1px $green;
    z-index: 1;
    a {
        color: $green;
    }
}

a {
    transition: background $delay, color $delay;
    color: $green;
    text-decoration: none;
    &:visited {
        color: $green;
    }
    &:hover {
        background: $green;
        color: $black;
    }
}

ul {
    list-style: outside none;
}

@keyframes pulse {
    from {
        background: $black;
    }

    to {
        background: $green;
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* http://stackoverflow.com/a/880518 */
.noSelection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#Container {
    min-width: 800px;
    margin: 20px;
    position: relative;
}

@import "articles";
@import "controls";
@import "map";
