$green: #008000; // Green
// $green: #32CD32; // LimeGreen
// $green: #00FF7F; // SpringGreen
$black: #000000; // Black
$delay: 400ms;

html {
    background: $black;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    padding: 20px;
    margin: 0;
    font-weight: normal;
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 1px $green;
    font-size: 1em;
    z-index: 1;
    background: $black;
    a {
        color: $green;
    }
}

a {
    transition: background $delay, color $delay;
    color: $green;
    text-decoration: none;
    &:visited {
        color: $green;
    }
    &:hover {
        background: $green;
        color: $black;
    }
}

#Overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#Articles {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    z-index: 1;
    padding: 20px;
    transition: border-color $delay;
    border: solid 1px $black;
    pointer-events: none;
    a {
        color: $black;
    }
    &.active {
        pointer-events: auto;
        background: $black;
        border: solid 1px $green;
        a {
            color: $green;
            &:hover {
                color: $black;
            }
        }
    }
}

#Sources {
    pointer-events: auto;
    position: absolute;
    top: 70%;
    left: 0;
    border: solid 1px $green;
    padding: 20px;
    background: $black;
}

#Container {
    max-width: 800px;
    margin: 20px;
    position: relative;
}

#Map {
    width: 100%;
}
