$dark-green: #008000; // Green
$green: #32CD32; // LimeGreen
$light-green: #00FF7F; // SpringGreen
$black: #000000; // Black

html {
    background: $black;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    margin: 20px;
    font-weight: normal;
}

a {
    border-bottom: solid 1px $black;
    transition: border-bottom 600ms;
    color: $light-green;
    text-decoration: none;
    &:visited {
        color: $light-green;
    }
    &:hover {
        border-bottom: solid 1px $light-green;
    }
}

#Container {
    margin: 20px;
}

#Map {
    width: 100%;
}
