.region-map {
    margin-bottom: 20px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .region-map {
        width : 64%;
        display: inline-block;
        vertical-align: top;
    }
}

#Map {

}